@use '../abstract/index' as *;



.arrow__up{
    @include positioning(fixed, auto, 20px, 20px, auto);
    width: 45px;
    height: 45px;
    line-height: 45px;
    border-radius: 50%;
    text-align: center;
    background-color: $primary-color;
    color: $white-color;
    border: 2px solid $primary-color;
    transform: translateX(200px);

    &:hover{
        background: transparent;
        color: $primary-color;
    }

    &.active{ transform: translateX(0); }
}