@use '../abstract/index' as *;

*,
*::after,
*::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    list-style-type: none;
    text-decoration: none;
    border: none;
    outline: none;
}

body{
    font-size: 100%;
    overflow-x: hidden;
    line-height: 1.4;
    color: $white-color;
    background-color: $secondary-color;
    font-family: $font-family;


    @media (max-width:576px) {
        font-size: 85%;
    }
}

a{
    transition: 0.4s linear;
    color: #fff;

    &:hover{color: $primary-color;}
}

img{
    max-width: 100%;
    object-fit: cover;
    vertical-align: middle;
}

section{padding: 70px 0;}
