@use '../abstract/index' as *;



.container{
    @include rwd(576){ width: 90%; }
    width: 80%;
    margin: auto;
}

.section-header{
    @include section-header;

    span{ color: $primary-color; }
}

.nav .active,
.mobile .active{ 
    color: $primary-color !important;
    font-weight: 600 !important;
}
