@use '../abstract/index' as *;



// ==========================================================================
// HEADER section
// ==========================================================================
.header-a{
    position: relative;
    height: 100svh;
    background-image:linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7)), url('../../src/img/tiler-working-renovation-apartment.jpg');
    background-size: cover;
    background-position: bottom;

    .header__wrapper{
        @include flex(center, flex-start, column);
        height: 100%;

        @include rwd(992){
            align-items: center;
            text-align: center;
        }

        .header__heading{
            @extend %header-heading;
            max-width: 750px;
            
            @include rwd(992){
                font-size: 28px;
                text-align: center;
                width: 400px;
            }
            
            @include rwd(576){ max-width: 100%;}
        }
    
        .header__p{
            @extend %header-paragraph;
            max-width: 720px;
    
            @include rwd(992){
                text-align: center;
                width: 350px;
            }
        
            @include rwd(576){ max-width: 100%; }
        }
    }
}





// ==========================================================================
// INFO section
// ==========================================================================
.info{
    @include flex(space-between, stretch, wrap);

    @media(max-width:1200px){
        justify-content: center;
        text-align: center;
        row-gap: 48px;
    }

    &__item{
        @include rwd(1200){flex-basis:80%;}
        @include rwd(576){ flex-basis:100%;}
        flex-basis:30%;

        &.section-header{
            @include rwd(1200){ text-align: center; }
            text-align: left;

            .section-subtitle{
                text-transform: uppercase;
    
                @include rwd(1200){
                    width: 350px;
                    margin: auto;
                    margin-top: 16px;
                }

                @include rwd(400){ width: 100%;}
            }
        }

        .info__p{
            @include text(14px, 300, $white-color);
            text-align: left;

            @include rwd(1200){ text-align: center; }
            @include rwd(768){
                width: 300px;
                margin: auto;
            }

            @include rwd(400){ width: 100%; }
        }
    }

    &__item--flex{
        @include flex(flex-start, center, row, 1rem);
        position: relative;
        padding: 0 32px;
        flex-basis:20%;
        
        @include rwd(576){
            flex-basis: 300px;
            justify-content: center;
        }
        
        .info__line{
            width: 40px;
            height: 3px;
            background: #fff;
            opacity: 0.20;
            position: absolute;
            display: block;
            content: "";
        }

        .line-1{
            top: 0;
            left: 0;
        }

        .line-2{
            top: 0;
            right: 0;
        }

        .line-3{
            bottom: 0;
            left: 0;
        }

        .line-4{
            bottom: 0;
            right: 0;
        }

        .line-5{
            top: 0;
            left: 0;
            height: 100%;
            bottom: 0;
            width: 3px;
        }

        .line-6{
            top: 0;
            right: 0;
            height: 100%;
            bottom: 0;
            width: 3px;
        }

        .info__number{
            @include text(78px, 700, $primary-color);
            @include rwd(576){
                font-weight: 500;
                font-size: 68px;
            }
        }

        .info__text{font-weight: 500;}
    }
}





// ==========================================================================
// ABOUT section
// ==========================================================================
.about{
    background-image:linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)), url('../../src/img/3d-house-model-with-modern-architecture.jpg');
    background-size: cover;
    border-radius: 15px;

    .section-subtitle{
        text-transform: uppercase;
    }

    &__wrapper{
        @include flex(space-between);
        margin-top: 48px;
        padding: 0 40px;

        @media(max-width:1200px){
            flex-direction: column;
            row-gap: 3rem;
        }

        .about__item{
            @include rwd(1200){ flex-basis:100%; }
            flex-basis:30%;
            text-align: center;

            img{width: 30px;}

            .about__name{
                @include text(16px, 700, $white-color, uppercase, center);
                margin: 16px 0;
            }

            .about__desc{
                @include text(14px, 300, $white-color, none, center);
                @include rwd(1200){ width: 300px; }
                @include rwd(400){ width: 100%; }
                width: 250px;
                margin: auto;
            }
        }
    }
}





// ==========================================================================
// OFFER section
// ==========================================================================
.offer{
    @include flex;
    @include rwd(992){ flex-direction: column; }
    position: relative;

    &__item{
        flex: 1;
        
        img{
            height: 100%;
            border-top-right-radius: 15px;
            border-bottom-right-radius: 15px;

            @include rwd(992){
                border-bottom-left-radius: 15px;
                border-bottom-right-radius: 15px;
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
                height: 400px;
                width: 100%;
            }
        }
    }

    &__item--bg{
        @include flex(center, flex-start, column);
        background: #222222;
        padding:3rem;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;

        @include rwd(992){
            align-items: center;
            padding: 2rem;
            border-bottom-left-radius:0;
            border-top-right-radius: 15px;
        }

        @include rwd(576){ padding:1.5rem; }

        .section-header{
            @include section-header(left);

            .section-title{
                @include rwd(992){ text-align: center;}
            }

            .section-subtitle{
                @include rwd(992){
                    font-size: 21px;
                    margin: auto;
                    text-align: center;
                    max-width: 300px;
                }

                @include rwd(400){width: 100%;}
            }
        }
        
        .offer__desc{
            color: $white-color;
            margin: 1.5rem 0 48px;
            font-size: 14px;
            width: 420px;

            @include rwd(992){
                text-align: center;
                margin: 1.5rem auto 48px;
                width: 280px;
            }

            @include rwd(400){ width: 100%; }
        }
    }
}
