@use '../abstract/index' as *;




/*---------------------------------
# HEADER section
----------------------------------*/
.header-a{
    position: relative;
    height: 100svh;
    background-image:linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7)), url('../../src/img/tiler-working-renovation-apartment.jpg');
    background-size: cover;
    background-position: bottom;

    .header__wrapper{
        @include flex(center, flex-start, column);
        height: 100%;

        @media(max-width:992px){
            align-items: center;
            text-align: center;
        }

        .header__heading{
            @extend %header-heading;
            max-width: 750px;
            
            @media(max-width:992px){
                font-size: 28px;
                text-align: center;
                width: 400px;
            }
            
            @media(max-width:576px){
                max-width: 100%;
            }
        }
    
        .header__p{
            @extend %header-paragraph;
            max-width: 720px;
    
            @media(max-width:992px){
                text-align: center;
                width: 350px;
            }
        
            @media(max-width:576px){max-width: 100%;}
        }
    }
}


/*---------------------------------
# INFO section
----------------------------------*/
.info{
    @include flex(space-between, stretch, wrap);

    @media(max-width:1200px){
        justify-content: center;
        text-align: center;
        row-gap: 48px;
    }

    &__item{
        flex: 0 0 30%;
       
        @media(max-width:1200px){flex: 0 0 80%;}

        @media(max-width:576px){ flex: 0 0 100%;}

        &.section-header{
            text-align: left;

            @media(max-width:1200px){text-align: center;}

            .section-subtitle{
                text-transform: uppercase;
    
                @media(max-width:1200px){
                    width: 350px;
                    margin: auto;
                    margin-top: 16px;
                }

                @media(max-width:400px){
                    width: 100%;
                }
            }
        }

        .info__p{
            @include text(14px, 300, $white-color);
            text-align: left;

            @media(max-width:1200px){text-align: center;}
            @media(max-width:768px){
                width: 300px;
                margin: auto;
            }

            @media(max-width:400px){
                width: 100%;
            }
           
        }
    }

    &__item--flex{
        @include flex(flex-start, center, row, 1rem);
        position: relative;
        padding: 0 32px;
        flex: 0 0 20%;
        
        @media(max-width:576px){
            flex-basis: 300px;
            justify-content: center;
        }

        // @media(max-width:400px){
        //     flex-basis: 100%;
        // }
        
        .info__line{
            width: 40px;
            height: 3px;
            background: #fff;
            opacity: 0.20;
            position: absolute;
            display: block;
            content: "";
        }

        .line-1{
            top: 0;
            left: 0;
        }

        .line-2{
            top: 0;
            right: 0;
        }

        .line-3{
            bottom: 0;
            left: 0;
        }

        .line-4{
            bottom: 0;
            right: 0;
        }

        .line-5{
            top: 0;
            left: 0;
            height: 100%;
            bottom: 0;
            width: 3px;
        }

        .line-6{
            top: 0;
            right: 0;
            height: 100%;
            bottom: 0;
            width: 3px;
        }

        .info__number{
            @include text(78px, 700, $primary-color);

            @media(max-width:576px){
                font-weight: 500;
                font-size: 68px;
            }
        }

        .info__text{font-weight: 500;}
    }
}


/*---------------------------------
# ABOUT section
----------------------------------*/
.about{
    background-image:linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)), url('../../src/img/3d-house-model-with-modern-architecture.jpg');
    background-size: cover;
    border-radius: 15px;

    .section-subtitle{
        text-transform: uppercase;
    }

    &__wrapper{
        @include flex(space-between);
        margin-top: 48px;
        padding: 0 40px;

        @media(max-width:1200px){
            flex-direction: column;
            row-gap: 3rem;
        }

        .about__item{
            flex: 0 0 30%;
            text-align: center;

            @media(max-width:1200px){flex: 0 0 100%;}

            img{width: 30px;}

            .about__name{
                @include text(16px, 700, $white-color, uppercase, center);
                margin: 16px 0;
            }

            .about__desc{
                @include text(14px, 300, $white-color, none, center);
                width: 250px;
                margin: auto;

                @media(max-width:1200px){width: 300px;}
                @media(max-width:576px){font-size: 12px;}
                @media(max-width:400px){width: 100%;}
            }
        }
    }
}

/*---------------------------------
# OFFER section
----------------------------------*/
.offer{
    @include flex;
    position: relative;

    @media(max-width:992px){flex-direction: column;}

    &__item{
        flex: 1;
        
        img{
            height: 100%;
            border-top-right-radius: 15px;
            border-bottom-right-radius: 15px;

            @media(max-width:992px){
                border-bottom-left-radius: 15px;
                border-bottom-right-radius: 15px;
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
            }
        }
    }

    &__item--bg{
        @include flex(center, flex-start, column);
        background: #222222;
        padding:3rem;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;

        @media(max-width:992px){
            align-items: center;
            padding: 2rem;
            border-bottom-left-radius:0;
            border-top-right-radius: 15px;
        }

        @media(max-width:576px){padding:1.5rem;}

        .section-header{
            @include section-header(left);

            .section-title{
                @media(max-width:992px){
                    text-align: center;
                }
            }

            .section-subtitle{
                @media(max-width:992px){
                    font-size: 21px;
                    margin: auto;
                    text-align: center;
                    max-width: 300px;
                }

                @media(max-width: 400px){
                    width: 100%;
                }
            }
        }
        
        .offer__desc{
            color: $white-color;
            margin: 1.5rem 0 48px;
            font-size: 14px;
            width: 420px;

            @media(max-width:992px){
                text-align: center;
                margin: 1.5rem auto 48px;
                width: 280px;
            }

            @media(max-width: 400px){
                width: 100%;
            }
        }

        .button-outline{
            @media(max-width:992px){margin: auto;}

            &:hover{
                color: $white-color;
            }

            &:hover > i{
                color: $white-color;
            }
        }
    }
}

/*---------------------------
# BLOG section
---------------------------*/
.blog-posts{

    &__item{
        &.hidden{
            @media(max-width:768px){display: none;}
        }
    }

    &__btn{
        display: none;

        @media(max-width:768px){
            display: block;
            margin: 32px auto 0;
            width: 150px;
            text-align: center;
        }
    }
}
