@use '../abstract/index' as *;





/*----------------------------------
# HEADER section
----------------------------------*/ 
.header-p{
    clip-path: polygon(0 1%, 100% 0%, 100% 75%, 0 100%);
    position: relative;
    background-size: cover;
    background-position: center;
    height: 100svh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url('../../src/img/luxury-pool-villa-spectacular-contemporary-design-digital-art-real-estate-home-house-property-ge.jpg');

    @media(max-width:992px){
        clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 100%);
    }

    .header__wrapper{
        @include flex(center, flex-start, column);
        height: 100%;

        @media(max-width:992px){
            align-items: center;
            text-align: center;
        }
    
        .header__heading{
            @extend %header-heading;
            
            @media(max-width:768px){font-size: 37px;}
            @media(max-width:450px){font-size: 30px;}
        }

        .header__p{
            @extend %header-paragraph;
            max-width: 650px;

            @media(max-width:1200px){width: 350px;}
            @media(max-width:400px){width: 100%;}
        }
    }

    .header__triangle-one{
        @include positioning(absolute, auto, auto, 0, -220px, 500px, 380px);
        clip-path: polygon(49% 0, 0% 100%, 100% 100%);
        background: rgba(255, 255, 255, 0.16);
        z-index: -1;

        @media(max-width:992px){display: none;}
    }

    .header__triangle-two{
        @include positioning(absolute, auto, auto, 0, 100px, 500px, 600px);
        clip-path: polygon(49% 0, 0% 100%, 100% 100%);
        background: rgba(0, 0, 0, 0.16);
        z-index: -1;

        @media(max-width:992px){display: none;}

    }

    .header__triangle-three{
        @include positioning(absolute, auto, auto, 0, 300px, 550px, 450px);
        clip-path: polygon(74% 3%, 0% 100%, 100% 100%);
        background: rgba(255, 21, 0, 0.16);
        z-index: -1;

        @media(max-width:992px){display: none;}

    }

}





/*----------------------------------
# PROJECTS section
----------------------------------*/ 
.projects{
    
    &__header{
        text-align: right;

        @media(max-width:992px){text-align: center;  }

        .projects__heading{
            font-weight: 600;
            font-size: 42px;
            margin-bottom: 20px;

            @media(max-width:992px){
                font-size: 32px;
                max-width: 250px;
                margin:0 auto 20px;
            }
        }

        .projects__p{
            font-weight: 300;
            max-width:870px;
            margin-left: auto;

            @media(max-width:992px){
               margin: auto;
               width: 280px;
            }
        }
    }

    &__wrapper{
        @include flex(space-between, stretch, wrap);
        row-gap: 150px;
        margin-top: 50px;
        position: relative;

        @media(max-width:1200px){row-gap: 50px;}

        .projects__item{
            flex-basis: 30%;

            @media(max-width:1200px){flex-basis: 45%;}
            @media(max-width:768px){flex-basis: 100%;}

            &.hidden{
                @media(max-width:768px){display: none;}
            }

            .projects__name{
                @include text(24px, 500, $white-color, uppercase);
                margin-bottom: 20px;

                span{color: $primary-color};

                @media(max-width:768px){text-align: center;}
            }

            .projects__imgs{
                height: 325px;
                position: relative;

                img{
                    height: 100%;
                    width: 100%;
                }

                i{
                    @include positioning(absolute, 50%, auto, auto, auto, 30px, 30px);
                    border-radius: 50%;
                    line-height: 30px;
                    text-align: center;
                    border: 2px solid $white-color;
                    cursor: pointer;
                    transition: 0.4s linear;

                    &:hover{
                        color: $primary-color;
                        border-color: $primary-color;
                    }
                }

                .projects__icon-right{right: 10px;}

                .projects__icon-left{left: 10px;}
            }

            .projects__labels{
                @include flex(flex-start, stretch, wrap, 10px);
                margin-top: 20px;

                @media(max-width:1200px){justify-content: center;}

                .projects__label{
                    text-transform: capitalize;
                    font-size: 13px;
                    border-radius: 51px;
                    padding: 10px;
                    border: 0.8px solid rgba(255, 255, 255, 0.3)
                }
            }
        }

        .projects__color{
            @include positioning(absolute, 50%, 0, auto, auto, 200px);

            @media(max-width: 1200px){display: none;}
        }
    }

    &__btn{
        margin:30px auto 0;
        display: block;
        width: 180px;
        text-align: center;
    }
}





/*----------------------------------
# VISION section
----------------------------------*/ 
.vision{
    @include flex(center, center, column, 16px);
    position: relative;
    margin: 70px auto 150px;
    background-image:linear-gradient(rgba(0, 0, 0, 0.88), rgba(0, 0, 0, 0.88)),
     url('../../src/img/professional-repairman-wearing-protective-gloves.jpg');
     background-size: cover;
     background-position: center;
     border-radius: 20px;
     text-align: center;
     padding: 100px 0;

     @media(max-width:1200px){margin: 70px auto;}

     &__heading{
        font-weight: 600;
        font-size: 32px;
        
        span{color: $primary-color;}

        @media(max-width: 992px){
            font-size: 24px;
            width: 230px;
        }
     }

     &__p{
        font-weight: 300;

        @media(max-width: 992px){width: 350px;}

        @media(max-width: 576px){
            font-size: 14px;
            max-width: 100%;
        }
     }

     &__img{
        opacity: 0.2;
        width: 300px;
        margin: 20px 0;

        @media(max-width:992px){width: 200px;}
     }

     &__brush{
        @include positioning(absolute, auto, auto, -340px, -170px, 300px);
        opacity: 0.2;

        @media(max-width: 1200px){display: none;}
     }
}