@use '../abstract/index' as *;



.blog-posts{
    scroll-margin-top: 80px;

    .section-header{
        .section-subtitle{
            @include rwd(576){
                max-width: 100%;
                font-size: 25px
            }
        }
    }

    &__wrapper{
        @include flex(space-between, stretch, wrap);
        @include rwd(576){ row-gap: 100px; }
        margin-top: 45px;
        row-gap: 150px;

        .blog-posts__item{
            @include rwd(1200){ flex-basis: 45%; }
            @include rwd(768){ flex-basis: 100%; }
            flex-basis:31%;

            &.hidden{
                @include rwd(768){ display: none; }
            }

            .blog-posts__body{

                .blog-posts__heading{
                    @include rwd(768){ font-size: 15px; }
                    font-weight: 500;
                    font-size: 22px;
                    margin-top: 16px;
                }

                .blog-posts__date{
                    margin-bottom: 16px;
                    margin-top: 20px;

                    i{ font-size: 14px; }

                    span{
                        font-weight: 300;
                        font-size: 10px;
                        color: rgba(141, 141, 141, 1);
                    }
                }

                .blog-posts__p{
                    color: rgba(197, 197, 197, 1);
                    text-align: justify;
                    line-height: 18px;
                    font-size: 11px;
                    margin-bottom: 16px;
                }

                .blog-posts__link{
                    @include text(12px, 700, $white-color, uppercase);

                    &:hover{
                        color: $primary-color;
                        text-decoration: underline;
                    }
                }
            }
        }
    }

    &__btn{
        display: none;

        @include rwd(768){
            display: block;
            margin: 32px auto 0;
            width: 150px;
            text-align: center;
        }
    }
}

