@use '../abstract/index' as *;



.faq{

    &__heading{
        @include text(37px, 600, $white-color, none, center);
        @include rwd(992px){
            font-size: 24px;
            max-width: 250px;
            margin: auto;
        }
    }

   &__wrapper{
        @include flex(space-between, stretch, wrap, 16px);
        @include rwd(768){padding: 16px;}
        margin-top: 48px;
        padding: 32px;
        background-color: $black-color;
        border-radius: 15px;

        .faq__item{
            flex-basis: 47%;
            padding: 25px;
            border-radius: 10px;

            @include rwd(1200){ flex-basis: 100%; }

            // &:hover{
            //     background-color: $white-color;
            //     color: $black-color;
            //     transition: 0.4s linear;
            // }

            &.active{
                background-color: $white-color;
                color: $black-color;
            }

            .faq__header{
                @include flex(space-between, center);
                @include rwd(576p){ font-size: 14px; }

                .faq__question{font-weight: 600;}

                i{
                    font-size: 15px;
                    transition: 0.4s linear;

                    &.active{
                        transform: rotate(90deg);
                        color: $black-color;
                    }
                }
            }

            .faq__body{
                max-height: 0;
                overflow: hidden;
                font-size: 14px;
                font-weight: 300;

                &.active{
                    max-height: 200px;
                    transition: 0.4s linear;
                }
            }
        }
   }
}


